@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    border: 1px solid red;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.title-my {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5px;
}

.passengers {
    background-color: aqua;
    font-size: medium;
    font-weight: 800;
    padding-left: 10px;
    border-radius: 10px;

}